

.sidebar {
    height: 100vh;
    padding-top: 20px;
    position: sticky;
    top: 0;
    /* background-color: #6bfffac7; */
    background-color: #da09c7ab !important;
  }
  
  .profile-section {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .profile-img {
    border-radius: 50%;
    width: 200px;
    height: 150px;
  }
  

  /* Sidebar styles */
.nav-item a {
  color: #4e12d8;
  font-weight: 1000;
  width: 130%;
  margin-right: -20px;
  text-align: center;
  font-family: sans-serif;
  text-decoration: none; /* Remove underline */
  padding: 10px;
  display: block;
  margin-bottom: 5px;
}

.nav-item a:hover {
  background-color: #1fe294; /* Add a background color on hover */
  border-radius: 5px;
}

.nav-item a.active {
  background-color: #6c6f6f; 
  color: #ffffff;
  border-radius: 5px;
}



.dropdown-menu {
  min-width: 150px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(251, 248, 248, 0.1);
}

.dropdown-item {
  padding: 10px 15px;
  color: #333;
  text-decoration: none;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f8f9fa;
  color: #000;
}
